/*CONTENT OF THE WEBSITE BEGIN*/


.article-body{
	padding-right:5%;
}
.post-feed{
	padding-left: 0px;
}
.post-feed li{
	text-decoration: none;
	list-style-type: none;	
}
.post-feed li:before{
	content:"\00BB \0020 \0020";
}
.post-feed li a{
	color:black;
}
.comment{
	border-bottom: 0.5px solid gray;
	background-color: rgba(203,239,252,0.1);
}
.reply{
	background-color: rgba(203,239,252,0.1);
}
.comment .card-title{
		font-weight: bold;
}
.article-body-p{
	padding: 20px;
}
.article-body-p a{
	color:gray;
	font-style: italic;
}
.stitle>a{
	color:black;
}
.sexcerpts>a{
	text-decoration: none;
	color:gray;
}
@media screen and (min-width:768px){
	.rel_image{
		height:155px;
		width:100%;
	}
	#search_results{
	display:none;
	}
	.stitle {
		color:black;
	}
	.sexcerpts>a{
		text-decoration: none;
		color:gray;
	}
}
/*CONTENT OF THE WEBSITE ENDS*/
