

/*TOP ARTICLES*/
.post-new>img{
	width:100%;
	height:278px;
}





/*NEWS FEED OF DEPARTMENTS,CAMPUS,VIEWS,CAREERS AND LATEST POST*/
.feed-img{
	height:150px;
	width:100%;	
}

.card{
	border:none;
}


/*END NEWS FEED OF DEPARTMENTS,CAMPUS,VIEWS,CAREERS AND LATEST POST*/

/*BEGIN LATEST POSTS AND COMMENTS*/
.latestbar-img{
	height:54px;
	width:100%;	
}

#comments{
	display:none;
}

.cmtimg{
	object-fit: contain;
	max-width: 50px;
}
.Sidebar,.newtop{
	border:1px solid rgb(223,223,223);
}
/*END LATEST POSTS AND COMMENTS*/

/*BEGIN EDITOR'S PICK*/
.editor-img{
	height:152px;
	width:264px;
		
}
.screen-sm{
	display:block;
}
.screen-md{
	display:none;
}

/*END EDITOR'S PICK*/


/*BEGIN CSS FOR BIG SCREENS AND SMALL SCREENS*/
@media screen and (min-width:768px){
	.post-new>img{
		width:255px;
		height:185px;
	}
	.carousel-item>img{
		width:538px;
		height:633px;	
	}
	.feed-img{
		height:105px;
		width:140px;	
		}
	.latestbar-img{
		height:80px;
		width:140px;	
	}
	.screen-sm{
		display:none;
	}
	.screen-md{
		display:block;
	}		
}


/*END CSS FOR BIG SCREENS AND SMALL SCREENS*/
